nav {
  font-weight: bold;
  border-bottom: 1px solid #e2e2e2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px;
  position: fixed;
  width: 100%;
  background-color: white;
  top: 0;
  box-sizing: border-box;
}
nav svg {
  height: 26px;
}
main {
  margin-top: 48px;
}
.button {
  border: 1px solid #326891;
  background-color: #6288a5;
  border-radius: 3px;
  padding: 11px 12px 8px;
  color: white;
  margin-right: 8px;
}
.button:hover {
  background-color: #326891;
}
